\office_space_inline
\myenv
\.idea
.idea/

# TensorBoard logs and model checkpoints
runs/
checkpoints/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/


*results*/
*stored*/
*plots*/
*office_sapce_inline*/
*office_space_reduced_inline*/